/* Стиль для закрепленного заголовка таблицы */

.tableFixHead          { overflow: auto; height: 800px; }
.tableFixHead thead th { position: sticky; top: 0; z-index: 1; }


/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#eee; }


body {
    background-image: url("/static/genealogy/img/background_7.jpg"); 
    background-size: cover;
    }

.img-btn {
    width:200px; 
    height:150px
}

.my-form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}


