{% extends "genealogy/genealogy_wrapper.html" %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
    <link rel="stylesheet" href="{% static tree_css %}" type="text/css">
    <body> 
        <form method="get" role="search" name="descendants_form">
            <div class="container" id="filter_id">
                <div class="row ml-3 align-items-center">
                    {% comment %} <div class="col-sm align-self-center">
                {% bootstrap_field select_person_form.person layout='horizontal' label="Выберите родоначальника" show_label=False %}
            </div>
            <div class="col-sm align-self-center">
                <div class="form-floating">
                {% bootstrap_field select_person_form.view_type layout='horizontal' %}
            </div>
                    </div> {% endcomment %}
                    <div class="row g-2">
                        <div class="col-md">
                            <div class="form-floating">
                                <select class="form-select"
                                        name="view_type"
                                        id="id_view_type"
                                        aria-label="view_type select">
                                    {% comment %} <option selected value="0">-----------</option> {% endcomment %}
                                    {% for item in descendants_form.view_type.field.choices %}
                                        <option {% if item.0 == view_type_id %}selected{% endif %} value={{ item.0 }}>{{ item.1 }}
                                        </option>
                                    {% endfor %}
                                </select>
                                <label for="personSelectGrid">Тип древа</label>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-floating">
                                <select class="form-select"
                                        name="show_spouses"
                                        id="id_show_spouses"
                                        aria-label="show_spouses select">
                                    {% comment %} <option selected value="0">-----------</option> {% endcomment %}
                                    {% for item in descendants_form.show_spouses.field.choices %}
                                        <option {% if item.0 == show_spouses_id %}selected{% endif %} value={{ item.0 }}>{{ item.1 }}
                                        </option>
                                    {% endfor %}
                                </select>
                                <label for="personSelectGrid">Отображение супругов</label>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-floating">
                                <select class="form-select"
                                        name="person"
                                        id="id_person"
                                        aria-label="Person select">
                                    {% for item in descendants_form.person.field.queryset %}
                                        <option {% if item.person_id == person_id %}selected{% endif %} value={{ item.person_id }}>{{ item }}
                                        </option>
                                    {% endfor %}
                                    {% comment %} <option value="2">Two</option>
                                    <option value="3">Three</option> {% endcomment %}
                                </select>
                                <label for="personSelectGrid">Выберите родоначальника</label>
                            </div>
                        </div>
                        <div class="col-md-auto align-self-center">
                            {% bootstrap_button "Найти потомков" button_type="submit" button_class="btn-dark" %}
                        </div> 
                    </div>
                </div>
            </div>
        </form>
        {% autoescape off %}
            {{ tree_html }}
        {% endautoescape %}
    </body>
{% endblock content %}
